/* we need this so that selector (controller) is visible */
.tableWrapper, 
.tableWrapper table
{
    overflow: visible !important;
}

.remirror-table-selector {
  cursor: pointer;

  outline-color: #c5c5c5;
  outline-style: solid;
  outline-width: 1px;

  background-color: gray;

  &:hover {
    background-color: #c6c6c6;
  }
}

.remirror-table-selector-highlight {
  background-color: #bbd5ef;

  &:hover {
    background-color: #91bbe5;
  }
}

.remirror-table-body-selector {
  position: absolute;
  width: 16px;
  height: 16px;
  top: -17px;
  left: -17px;
}

.remirror-table-row-selector {
  position: absolute;
  width: 16px;
  top: 0;
  bottom: 0;
  left: -17px;
}

.remirror-table-column-selector {
  position: absolute;
  height: 16px;
  left: 0;
  right: 0;
  top: -17px;
}
